.Container {
  width: 100% !important;
  padding: 0 1rem !important;
  min-height: 113px !important;
  background-color: rgba(30, 40, 50, 0.05);
  @media (max-width: 605px) {
    min-height: max-content !important;
  }
}
.logoRow {
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}
.item {
  font-weight: 500 !important;
}
.logo {
  font-weight: 700 !important;
  font-size: 28px !important;
  padding-top: 2px !important ;
  padding-bottom: 2px !important ;
  margin-left: 155px !important;
  @media (max-width: 605px) {
    margin-left: 0 !important;
  }
}
.desktop {
  @media (max-width: 605px) {
    display: none !important;
  }
}

.ButtonsContainer {
  display: flex;
}

.navbarButtons {
  margin-top: 1rem !important;
}
